--extra-index-url https://download.pytorch.org/whl/cu121
torch==2.3.1
torchvision>=0.15.2
torchaudio>=2.0.2
diffusers==0.30.0
accelerate==0.33.0
tensorflow==2.17.0
tensorboard==2.17.0
opencv-python==4.10.0.84
soundfile==0.12.1
transformers==4.44.0

gdown
requests
imageio[ffmpeg]

omegaconf
ffmpeg-python
gradio
spaces
moviepy
